version: 2.1

jobs:
  test:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run:
          name: Store Google Service Account
          command: echo $GCLOUD_SERVICE_KEY > service-key.json

      - run:
          name: Provide Dev credentials
          command: sed -i 's/REPLACE_TEST_DEV_USER_STRING/'"$TEST_DEV_USER"'/g' android-sdk/src/androidTest/java/com/mobilecoin/lib/TestFogConfig.java && sed -i 's/REPLACE_TEST_DEV_PASSWORD_STRING/'"$TEST_DEV_PASSWORD"'/g' android-sdk/src/androidTest/java/com/mobilecoin/lib/TestFogConfig.java

      - run:
          name: Provide TestNet credentials
          command: sed -i 's/REPLACE_TEST_NET_USER_STRING/'"$TEST_NET_USER"'/g' android-sdk/src/androidTest/java/com/mobilecoin/lib/TestFogConfig.java && sed -i 's/REPLACE_TEST_NET_PASSWORD_STRING/'"$TEST_NET_PASSWORD"'/g' android-sdk/src/androidTest/java/com/mobilecoin/lib/TestFogConfig.java

      - run:
          name: Provide TestNet mnemonics
          command: echo $TEST_NET_MNEMONICS > android-sdk/src/androidTest/res/raw/test_net_mnemonics

      - run:
          name: Provide DevNet entropies
          command: echo $DEV_NET_TEST_ENTROPIES > android-sdk/src/androidTest/res/raw/dev_net_root_entropies

      - run: make setup
      - run: make build
      - run:
          name: make tests
          command: make tests
          no_output_timeout: 20m

      - store_artifacts:
          path: android-sdk/build/reports
          destination: reports

  android-release:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - run: make build
      # - run: make deploy

  # bindings-release:
  #   machine:
  #     image: ubuntu-2004:202010-01
  #   steps:

workflows:
  version: 2

  run-tests:
    jobs:
      - test

  android-sdk-release:
    jobs:
      - android-release:
          filters:
            branches:
              only:
                - ci

  # android-bindings-release:
  #   triggers:
  #   - schedule:
  #     filters:
  #       branches:
  #         only:
  #           - ci
  #   jobs:
  #     - bindings-release
